# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# certificates
*.pem

# MAC
.DS_Store

# build
*.gz
builds/Golyn
builds/golyn
builds/*.gz

/var/log/golyn_db.log
/var/log/golyn_server.log
/sites/kayak/
/sites/portfolio/
/sites/portal.golyn/
/pkg/mod/
/pkg/sumdb/
.idea/
.DS_Store
**/.DS_Store

/certificates/*
/docker/taiga/
/builds/Golyn/
/certificates/homer/
/sites/homer/
/sites/portal.humanjuan/
/config/sites/futzy.humanjuan.conf
/sites/valheim/
/sites/golyn
/sites/monitor/
/sites/leona/
/sites/futzy/
/sites/rioclaro/
/sites/ashcards/
/sites/iOG26/
/golyn
/sites/golyn/*
/certificates/*
/config/sites/futzy.conf
/config/sites/ashcards.conf
/config/sites/homer.conf
/config/sites/hr.conf
/config/sites/iOG26.conf
/config/sites/kayak.conf
/config/sites/leona.conf
/config/sites/monitor.conf
/config/sites/portal.humanjuan.conf
/config/sites/valheim.conf
/test/var/
/sites/hr/
/test/cert/
